.edit-pdf-container {
  padding: 2em;
  margin-top: 2em;
  position: relative;
  .pdf-wrapper {
    cursor: pointer;
    position: relative;
    text-align: center;
    p {
      margin-top: 0.5em;
    }
    &:hover {
      .icons-container {
        visibility: visible;
      }
    }
  }
  &__banner {
    position: sticky;
    z-index: 3;
    top: 4em;
    width: calc(100% + 4em);
    margin-left: -2em;
    padding: 1em 1.25em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: whitesmoke;
    box-shadow: 0 0 2px rgba(26, 26, 26, 0.2);
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2em;
    .icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.125rem;
      opacity: 0.5;
      color: #888;
      transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .icon--active {
      cursor: pointer;
      opacity: 1;
      color: #6691e8;
      &:hover {
        color: #7fa3ec;
      }
    }
    .banner-checkbox {
      font-size: 1.05rem;
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 0.65em;
      input[type="checkbox"] {
        width: 22.5px;
        height: 22.5px;
      }
    }
  }
}

.react-pdf__Document {
  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .react-pdf__Page {
    width: 400px;
    height: 550px;
    canvas {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      width: unset !important;
      height: unset !important;
      max-width: 100% !important;
      max-height: 100% !important;
    }
    &__annotations {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.checkbox-container {
  position: absolute;
  top: 1.5em;
  right: 2em;
  z-index: 2;
}

.form-checkbox {
  font-size: 2rem;
  line-height: 1.1;
  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #888;
    width: 27.5px;
    height: 27.5px;
    border: 3px solid #888;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
    &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #7fa3ec;
    }
    &:checked {
      border-color: #6691e8;
    }
    &:checked::before {
      transform: scale(1);
    }
  }
}

.checkbox-container--deactive {
  display: none;
}

.converting-container__wrapper {
  margin-top: 4em;
  height: calc(100vh - 4em);
}

@media only screen and (max-width: 1024px) {
  .react-pdf__Document {
    justify-content: center;
    .react-pdf__Page {
      width: 300px;
      height: 400px;
    }
  }
  .checkbox-container {
    top: 1.25em;
    right: 1.25em;
    .form-checkbox {
      input[type="checkbox"] {
        width: 22.5px;
        height: 22.5px;
      }
    }
  }
}
