@import "../../Components/File/File";

.documents-page-container {
  margin-top: 4em;
}

.documents-page-container__header {
  padding: 1.5em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  .actions {
    padding: 0.65em 1.25em;
    border: 1px solid #aaa;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-radius: 2px;
    margin-right: 2em;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    .icon {
      font-size: 1.15rem;
    }
    .dropdown-container {
      position: absolute;
      top: 60%;
      right: 0em;
      border-radius: 8px;
      z-index: 3;
      width: 220px;
      background: #fff;
      color: #333;
      filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 12px);
      border: 1px solid #e4e4e4;
      padding: 0.65em;
      ul {
        list-style-type: none;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0.75em 0.5em;
          border-radius: 8px;
          .dropdown-link {
            border: none;
            outline: none;
            width: 100%;
            display: flex;
            align-items: center;
            background: transparent;
            text-decoration: none;
            appearance: none;
            color: inherit;
            cursor: pointer;
          }
          svg {
            width: 25px;
            height: 25px;
            margin-right: 1em;
          }
          &:hover {
            background-color: rgba(235, 235, 235);
          }
        }
      }
    }
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
  form {
    width: fit-content;
    position: relative;
    .documents-page-container__header__input {
      input[type="file"] {
        display: none;
      }
    }
    .upload-btn {
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 0.75em 1.25em;
      cursor: pointer;
      font-weight: 500;
      font-size: 0.925rem;
      background: rgb(0, 85, 255);
      color: rgb(255, 255, 255);
      .icon {
        margin-right: 0.35em;
      }
      &:hover {
        background: rgb(0, 72, 217);
      }
    }
  }
}

.documents-page-container__files {
  .file-list__header {
    display: flex;
    align-items: center;
    width: 100%;
    &--items {
      width: 100%;
      display: flex;
      align-items: flex-end;
      border-bottom: 1px solid #e4e4e4;
      button {
        width: 100%;
        border: 0;
        outline: 0;
        padding: 1.5em 0;
        text-align: left;
        background: transparent;
        &:not(:last-child) {
          cursor: pointer;
        }
      }
      .file-name {
        width: 70%;
      }
      .file-size,
      .file-time {
        width: 25%;
      }
      .actions {
        margin-right: 2em;
        width: auto;
      }
    }
    &:hover {
      .file-list--checkbox {
        visibility: visible;
      }
    }
  }
  .file-list__content {
    ul {
      list-style-type: none;
    }
  }
  .file-list--checkbox {
    padding: 0 1.15em 0 2em;
    border-bottom: 1px solid transparent;
    visibility: hidden;
    input[type="checkbox"] {
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: #888;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      border-radius: 2px;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
      cursor: pointer;
      &::before {
        content: "";
        width: 0.85em;
        height: 0.85em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #7fa3ec;
      }
      &:checked {
        border-color: #6691e8;
      }
      &:checked::before {
        transform: scale(1);
      }
    }
  }
}

.login-prompt-container {
  width: 100%;
  padding: 2em;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    max-width: 400px;
    font-weight: 400;
    span {
      position: relative;
      padding-bottom: 0.1em;
      color: #6691e8;
      cursor: pointer;
      &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        right: 0;
        transform: scaleX(1);
        transform-origin: right;
        background: #6691e8;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
      &:hover {
        &::after {
          transform: scaleX(0);
        }
      }
    }
  }
}

.modifying-container__wrapper {
  margin-top: 4em;
  height: calc(100vh - 4em);
}

@media only screen and (max-width: 1024px) {
  .documents-page-container__header {
    padding: 1.75em 1em 1.25em;
  }
  .documents-page-container__files {
    .file-list__header {
      display: none;
    }
    .file-list--checkbox {
      padding: 0 1.15em 0 1.5em;
    }
  }
}
