.homePage-container {
  width: 100%;
  padding-top: 64px;
  display: grid;
  row-gap: 2em;
  place-items: center;
  header {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
  .homePage-container__wrapper {
    padding: 1em 2em;
    max-width: 1024px;
    ul {
      display: flex;
      flex-wrap: wrap;
      .operations-box--list {
        list-style-type: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .homePage-container {
    header {
      padding: 2em 1.25em;
      h1 {
        font-size: 2.5rem;
      }
    }
    .homePage-container__wrapper {
      padding: 1em;
      .operations-box--list {
        width: 50%;
        padding: 0.5em;
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    p {
      max-width: 720px;
    }
  }
  .operations-box--list {
    width: 33.3%;
    padding: 12px;
  }
}
