.operations-box {
  border: 1px solid #e4e4e4;
  background: rgb(250, 250, 250);
  border-radius: 4px;
  height: 140px;
  &:hover {
    background: rgb(244, 244, 244);
  }
  .link {
    padding: 1.25em;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    appearance: none;
    color: rgb(26, 26, 26);
    font-size: 1rem;
    display: flex;
    gap: 1em;
    flex-direction: column;
    .operations-box--detail {
      display: flex;
      gap: 0.65em;
      align-items: flex-start;
      .operations-box__img {
        svg {
          width: 32px;
          height: 32px;
        }
      }
      .operations-box__arrow {
        margin-left: auto;
        width: 24px;
        height: 24px;
      }
    }
    p {
      max-width: 80%;
      font-size: 0.925rem;
    }
  }
}

@keyframes animate-progress-bar {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 60px 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .operations-box {
    .link {
      p {
        max-width: 100%;
      }
    }
  }
}
